.container{
    margin-bottom: 80px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}

.slider-workout{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#FF589B 0%, #FF136F 100% );
    color:#fff;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
    cursor: pointer;
}
.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
}
.cata1,.cata2, .cata3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cata1 {
    background-color: orange;
   
}
.cata2 {
    background-color: orchid;
}
.cata3 {
    background-color: cyan;
}
.card-border{
    border: none;
    box-shadow:  5px 5px 10px lightgray;
}